{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <link rel="stylesheet" href="{% static "shop/base.css" %}">
    {% endblock head %}
    <title>
        {% block title_page %}
            Document
        {% endblock title_page %}
    </title>
</head>
<body>
    <header> <!-- Голова сайта-->
        {% block header %}
            <a class="head" href="{% url "shop:products-list" %}">Магазин</a>
            <a class="head" href="{% url "shop:orders-list" %}">Мои заказы</a>
            <a class="head" href="{% url "shop:basket-user" %}">Корзина</a>
            <a class="head" href="#">Поддержка</a>
            {% if user.is_authenticated %}
                <a class="head" href="{% url "my_auth:about-user" %}">Мой аккаунт</a>
                <form action="{% url "my_auth:logout" %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Выйти</button>
                </form>
            {% else %}
                <a class="head" href="{% url "my_auth:register-user" %}">Регистрация</a>
                <a class="head" href="{% url "my_auth:login" %}">Войти</a>
            {% endif %}
        {% endblock header %}
    </header>
        
    <main> <!-- Главная часть -->
        {% block main %}
        
        {% endblock main %}
    </main>
    
    <footer> <!-- нижния часть -->
        <!-- В разработке -->
    </footer>
</body>
</html>